h1 {
  text-align: center;
  font-weight: bold;
  clear: left;
  padding-top: 15px;
}
nav {
  padding-left: 40%;
}
img{
  height:250px
}
nav ul{
  list-style-type: none;
}

nav li{
  float:left;
  padding: 3px;
}

nav li a{
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

p,li {
  font-family: 'Slabo 27px';
}

h1,h2,h3 {
  font family: 'Slabo 27px';
}

.ingList span {
  font-size: 12px;
  font-family: cursive;
}

#Recipe li {
  line-height: 30px;
}

html {
  background-color: #D4C1EC;
}
